<footer class="row conatiner-fluid mt-3 text-center align-items-center">
    <p class=" m-0 text-small ar">
        &#169;2024 สำนักวิชาเทคโนโลยีดิจิทัลประยุกต์ สาขาวิชาวิศวกรรมซอฟต์แวร์ มหาวิทยาลัยแม่ฟ้าหลวง
    </p>
</footer>

<style>
    footer {
        height: 50px;
        background-color: #FFECB3;
        /* /* padding: 10px 0; */
        /* position: fixed; */
        bottom: 0;
        width: 100%;
    }
</style>