<nav id="mySidenav" class="sidenav">
    <a href="login.html" class="nav-link">
        <div id="brand">
            <img src="https://archives.mfu.ac.th/wp-content/uploads/2019/06/Mae-Fah-Luang-University-2.png"
                alt="Mae Fah Luang University" />
            <div class="text">ระบบจองรถยนต์ออนไลน์</div>
            <div class="subtext">ศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง</div>
        </div>
    </a>

    <div id="nav">
        <div class="dropdown">
            <button class="btn dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                รายการจอง
            </button>
            <div class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./product.html">ภายในจังหวัด</a>
                <a class="dropdown-item" href="/page/booking_page.html">ภายนอกจังหวัด</a>
            </div>
            <button class="btn dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fi fi-sr-settings"></i>
                ตั้งค่าระบบ
            </button>
            <div class="dropdown-menu border-0" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">ยานพาหนะ</a>
                <a class="dropdown-item" href="#">สมาชิก</a>
            </div>
        </div>
    </div>
</nav>