<div class="user-display col d-flex justify-content-end me-3" id="userDisplay"> 
  <% if (userLoggedIn) { %> 
    <p class="m-0 me-2"> 
      <%= user.role==='approver' ? 'ผู้อนุมัติ' : (user.role==='admin' ? 'คนจัดรถ' : 'พนักงาน' ) %> 
    </p> 
    <a href="/profile/<%= user.id %>" class="user-link" style=" color: black; display: inline;"> 
      <%= user.numberID %> 
    </a> 
  <% } else { %> 
    <a href="/login" style="text-decoration: none; color: rgb(0, 0, 0); display: inline;">เข้าสู่ระบบ</a> 
  <% } %> 
</div>

<style>
  .user-link {
    text-decoration: none;

  }

  .user-link:hover {
    text-decoration: underline;
  }
</style>