<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>หน้าหลัก</title>
  <link rel="stylesheet" href="../Css/dashboard.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


  <link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
  <link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('components/navbar.ejs') -%>
    <!-- closed tag -->
    <div class="container-fluid mt-3 " id="main">
      <div class="row d-flex align-items-center">
        <div class="col ">
          <button type="button" onclick="toggleNav()" id="toggleNav" class="toggler mb-2 p-0 m-0"
            style="font-size: 20px; ">
            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
        </div>
        <%- include('components/userinfo.ejs') -%>
          <div class="row">
            <div class="col-md-4 " style="position: sticky;">
              <div class="tt">
                <div class="card mt-2 ">
                  <div class="card-body text-center " style="background-color:#FFECB3;">
                    <i class="fi fi-br-calendar-clock" style="font-size: 1.5em;"></i>
                    <p style="font-size: 1rem;">1</p>
                    <p style="font-size: 1rem;">ยานพาหนะที่กำลังดำเนินการ</p>
                  </div>
                </div>
              </div>

              <div class="card mt-5">
                <div class="card-body text-center" style="background-color:#FFECB3;">
                  <i class="fi fi-bs-car" style="font-size: 1.5em;"></i>
                  <p style="font-size: 1rem;">23</p>
                  <p style="font-size: 1rem;">ยานพหนะ</p>
                </div>
              </div>
              <div class="card mt-5 ">
                <div class="card-body text-center " style="background-color:#FFECB3;">
                  <i class="fi fi-sr-file-edit" style="font-size: 1.5em;"></i>
                  <p style="font-size: 1rem;">670</p>
                  <p style="font-size: 1rem;">จำนวนการจองทั้งหมด</p>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="card mt-2">
                <div class="card-body">
                  <select class="form-select" id="inputGroupSelect01">
                    <option selected></option>
                    <option value="1">ทะเบียน</option>
                  </select>
                  <button type="button" class=" btn  mt-2 border-0 align-items-center"
                    style="width: 100%; background-color: #FFECB3;">
                    <i class="fi fi-bs-search"></i>
                    ค้นหา
                  </button>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-body">
                  <div id="loading">loading...</div>
                  <div id='calendar-container'>
                    <div id='calendar'></div>
                  </div>
                </div>
              </div>
            </div>
            <script src="../JS/navbar.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>

            <script src='fullcalendar/packages/core/main.js'></script>
            <script src='fullcalendar/packages/interaction/main.js'></script>
            <script src='fullcalendar/packages/daygrid/main.js'></script>
            <script src='fullcalendar/packages/timegrid/main.js'></script>
            <script src='fullcalendar/packages/list/main.js'></script>

            <script>
              document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                  plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                  height: 'parent',
                  header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                  },
                  defaultView: 'dayGridMonth',
                  defaultDate: '2020-02-12',
                  navLinks: true, // can click day/week names to navigate views
                  editable: true,
                  eventLimit: true, // allow "more" link when too many events
                  events: [
                    {
                      title: 'All Day Event',
                      start: '2020-02-01',
                    },
                    {
                      title: 'Long Event',
                      start: '2020-02-07',
                      end: '2020-02-10'
                    },
                    {
                      groupId: 999,
                      title: 'Repeating Event',
                      start: '2020-02-09T16:00:00'
                    },
                    {
                      groupId: 999,
                      title: 'Repeating Event',
                      start: '2020-02-16T16:00:00'
                    },
                    {
                      title: 'Conference',
                      start: '2020-02-11',
                      end: '2020-02-13'
                    },
                    {
                      title: 'Meeting',
                      start: '2020-02-12T10:30:00',
                      end: '2020-02-12T12:30:00'
                    },
                    {
                      title: 'Lunch',
                      start: '2020-02-12T12:00:00'
                    },
                    {
                      title: 'Meeting',
                      start: '2020-02-12T14:30:00'
                    },
                    {
                      title: 'Happy Hour',
                      start: '2020-02-12T17:30:00'
                    },
                    {
                      title: 'Dinner',
                      start: '2020-02-12T20:00:00'
                    },
                    {
                      title: 'Birthday Party',
                      start: '2020-02-13T07:00:00'
                    },
                    {
                      title: 'Click for Google',
                      url: 'http://google.com/',
                      start: '2020-02-28'
                    }
                  ]
                });

                calendar.render();
              });

            </script>
</body>

</html>