<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระเบียบและแบบฟอร์ม</title>
    <link rel="stylesheet" href="/css/document.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3 " id="main">
            <div class="row">
                <div class="col-12 ">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                        <nav style="--bs-breadcrumb-divider: '>'; margin-left: 3%;">
                            <ol class="breadcrumb text-center">
                                <li class="breadcrumb-item"><a href="/">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">เอกสาร</li>
                            </ol>
                        </nav>
                        <%- include('components/userinfo.ejs') -%>
                    </div>
                    <div class="card" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between" id="search">
                                    <div id="categoryButtons" style="display: flex; align-items: center;">
                                        <label for="">เมนู :</label>
                                        <form id="categoryForm" method="GET">
                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option1" autocomplete="off" value="ระเบียบ">
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option1">ระเบียบ</label>

                                            <input type="radio" class="btn-check" name="category" id="option2"
                                                autocomplete="off" value="แบบฟอร์ม">
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option2">แบบฟอร์ม</label>

                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option3" autocomplete="off" value="ประกาศ">
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option3">ประกาศ</label>

                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option4" autocomplete="off" value="แนวทางการใช้รถ">
                                            <label style="width: 150px;" class="btn btn-secondary"
                                                for="option4">แนวทางการใช้รถ</label>
                                            <% if (userLoggedIn && user.role !=='user' ) { %>

                                                <a href="/document/add" class="btn btn-primary"
                                                    style="border-color: #FFECB3; background-color:#FFECB3; width: 100px; color: black;">
                                                    <i class="fi fi-rr-edit"></i>เพิ่ม
                                                </a>
                                                <% } %>
                                        </form>
                                    </div>
                                    <div class="search">
                                        <input class="p-1" type="text" placeholder="&#xf002; ค้นหา"
                                            style="width: 200px; border-radius: 8px ; border:1px solid black;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3 mb-3" id="booking">
                        <div class="card-header" style="align-items: center;">
                            <div class="row ">
                                <div class="col-4">
                                    <label id="category"></label>
                                </div>
                                <div class="col-md-4 offset-md-4">

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">รายการ</th>
                                            <th scope="col">วันที่สร้าง</th>
                                            <th scope="col">จัดการ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="document-list"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const radioButtons = document.querySelectorAll('input[name="category"]');
                let documentData = [];

                radioButtons.forEach(function (radio) {
                    radio.addEventListener('click', async function () {
                        const selectedCategory = this.value;
                        const api = `http://localhost:8080/document/search/${selectedCategory}`;
                        try {
                            const res = await axios.get(api);
                            documentData = res.data;
                            console.log(documentData);
                            updateUI(documentData)
                        } catch (error) {
                            console.error('Error fetching data:', error);
                        }
                    });
                });

            });
        </script>
        <script>
            function updateUI(data) {
                const container = document.getElementById('document-list');
                container.innerHTML = '';


                data.forEach(function (doc) {
                    const categoryLabel = document.getElementById('category');
                    categoryLabel.textContent = doc.category;

                    const role = doc.role;
                    const resultRole = role === 'admin' ? 'art' : '';
                    const documentElement = document.createElement('tr');
                    documentElement.innerHTML = `
            <td>
                <div class="card" style="border: none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <img src="/image/Mae-Fah-Luang-University-2.png" class="rounded" style="height: 100px;" alt="">
                            </div>
                            <div class="col-sm-8">
                                <a href="${doc.link}" target="_blank" class="card-link my-a">${doc.title}</a>
                                <div style="font-size: small">
                                    <i class="fa fa-calendar mb-2 mr-sm-2" style="font-weight: bold"></i>
                                    โดย ${doc.numberID} ${doc.adminName} ${resultRole}
                                    <br />
                                    <span style="font-weight: bold">หมวด</span>
                                    ${doc.category}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                ${new Date(doc.createdAt).toLocaleString('th-TH')}
            </td>
            <td>
                  <a href="/document/add" class="btn btn-primary"
                                        style="border-color: #FFECB3; background-color:#FFECB3; color: black; width:90px;">
                                        <i class="fi fi-rr-edit"></i></a>
                                    <a class="btn btn-primary" onclick="displayAlert();"
                                        style="border-color: #FFECB3; background-color:#FFECB3; color: black; width:90px;"><i
                                            class="fa-solid fa-trash-can"></i>
                                    </a>
            </td>
        `;
                    container.appendChild(documentElement);
                });
            }
        </script>
        <script>
            function displayAlert(booking) {
                Swal.fire({
                    title: "คุณต้องการลบใช่หรือไม่?",
                    showDenyButton: true,
                    confirmButtonText: "ยืนยัน",
                    denyButtonText: `ยกเลิก`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        deleteBooking(booking);
                    } else if (result.isDenied) {
                        Swal.fire("การลบไม่เปลี่ยนแปลง", "", "info");
                    }
                });
                return false;
            }
            function deleteBooking(bookingId) {
                fetch(`/events/${bookingId}`, {
                    method: "DELETE",
                })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Failed to delete booking");
                        }
                        window.location.reload();
                    })
                    .catch((error) => {
                        console.error("Error deleting booking:", error);
                    });
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../JS/navbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/dompurify.min.js"></script>
</body>

</html>