<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>หน้าหลัก</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css" />
</head>

<body>
    <div class="top">
        <div class="brand">
            <img src="image/Mae-Fah-Luang-University-2.png" />
            <div class="brand-info">
                <h4>ระบบจองรถยนต์ออนไลน์</h4>
                <p>ศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง</p>
            </div>
        </div>
        <a href="dashboard.html">หน้าหลัก</a>
        <div class="login-box">
            <h2>เข้าสู่ระบบ</h2>

            <form action="/Views/product.html" method="post">
                <label for="username">รหัสพนักงาน</label>
                <input type="text" id="username" name="username" placeholder="รหัสพนักงาน" required />
                <label for="password">รหัสผ่าน</label>
                <input type="password" id="password" name="password" placeholder="รหัสผ่าน" required />
                <button class="submit" type="submit">เข้าสู่ระบบ</button>
            </form>
        </div>
    </div>
    <div class="bottom">
        <div class="manual">
            <button class="manual-button">
                <i class="fi fi-sr-document"></i>
                คู่มือการใช้งาน
            </button>
            <p>มีข้อสงสัยในการใช้ระบบ ฯ ติดต่อ ฝ่ายระบบสารสนเทศ 4174</p>
        </div>
    </div>


</body>

</html>