<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จองรถ</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/stepper.css" rel="stylesheet" />
    
</head>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3" id="main">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                        <%- include('components/userinfo.ejs') -%>
                    </div>
                    <div class="card " id="progress" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div class="card-body">
                            <div class="stepper-wrapper">
                                <div class="stepper-item active" id="step1">
                                    <div class="step-counter">1</div>
                                    <div class="step-name mt-1">1.ทำการจองเสร็จ,รอหัวหน้าอนุมัติ</div>
                                    <div class="step-name option1">ผู้จอง:</div>
                                    <div class="step-name option2">เวลาจอง:</div>
                                </div>
                                <div class="stepper-item" id="step2">
                                    <div class="step-counter">2</div>
                                    <div class="step-name mt-1">2.หัวหน้างานอนุมัติ,รอคนจัดรถ</div>
                                    <div class="step-name option1">ผู้อนุมัติ:</div>
                                    <div class="step-name option2">เวลาอนุมัติ:</div>
                                </div>
                                <div class="stepper-item" id="step3">
                                    <div class="step-counter">3</div>
                                    <div class="step-name mt-1">3.จัดรถสำเร็จ,พร้อมใช้งาน</div>
                                    <div class="step-name option1">ผู้จัดรถ:</div>
                                    <div class="step-name option2">เวลาจัดรถ:</div>
                                </div>
                                <div class="stepper-item" id="step4">
                                    <div class="step-counter">4</div>
                                    <div class="step-name mt-1">4.บันทึกเลขไมล์,เสร็จสิ้น</div>
                                    <div class="step-name option1">ผู้จอง:</div>
                                    <div class="step-name option2">เวลาจอง:</div>
                                </div>
                            </div>
                        
                            <div class="button-wrapper">
                                <button id="prevButton" onclick="goToPreviousStep()" disabled>ย้อนกลับ</button>
                                <button id="nextButton" onclick="goToNextStep()">ต่อไป</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3 mb-3 " id="booking" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div class="card-header" id="card-header" style="background-color: #FFECB3;">
                            <form>
                                <div class="row align-items-center">
                                    <div class="col-md-6 d-flex">
                                        <label>ทำการจอง</label>
                                        <button class="sample me-1 ms-2"
                                            onclick="window.open('https://drive.google.com/file/d/12wW1XdZdaXZjxYiy_TX4c0WiFvMCtGQU/view?usp=sharing', '_blank')">
                                            ตัวอย่างการกรอกข้อมูล
                                        </button>
                                        <button class="manual"
                                            onclick="window.open('https://drive.google.com/file/d/12wW1XdZdaXZjxYiy_TX4c0WiFvMCtGQU/view?usp=sharing', '_blank')">
                                            คู่มือการใช้งาน
                                        </button>
                                    </div>

                                    <div class="col-md-6 text-right">
                                        <label class="form-label">รหัสการจอง</label>
                                        <input class=" border-1 rounded-1 ms-2 pe-2" type="text"
                                            placeholder="รหัสการจองระบบสร้างขึ้นเอง" disabled
                                            style="width: auto; text-align: right;">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="booking-body" class="card-body">
                            <form action="/events" method="POST">
                                <div class="row" id="booking-body">
                                    <div class="col">
                                        <label class="form-label">ชื่อ-สกุล</label>
                                        <input class=" border-1 rounded-1 " type="text" name="userinfo"
                                            placeholder="jinnawat inyim" value="a">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">หน่วยงาน</label>
                                        <input class=" border-1 rounded-1 " name="organization" required>
                                    </div>
                                    <div class="col">
                                        <label class="form-label">เบอร์โทร</label>
                                        <input class="border-1 rounded-1" type="tel" max="10" name="mobile_number"
                                            placeholder="เช่น 08x-xxx-xxxx" name="organization" required>
                                    </div>
                                </div>
                                <div class="form-group mt-4 ">
                                    <label for="comment">ขอใช้รถเพื่อปฎิบัติภารกิจ:</label>
                                    <textarea class="form-control" rows="5" id="comment" name="title"
                                        required></textarea>
                                </div>
                                <div class="mt-4 ">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">วันที่ใช้รถ</label>
                                            <input type="date" id="seven" name="day" required>
                                        </div>
                                        <div class="col">
                                            <label for="">เวลาไปถึงสถานที่รับ</label>
                                            <input type="time" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <label for="">สถานที่รับ</label>
                                            <input type="text" name="placestart" required>
                                        </div>
                                        <div class="col">
                                            <label for="">สถานที่ส่ง</label>
                                            <input type="text" name="placeend" required>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <label for="">เวลาเสร็จสิ้นภารกิจ</label>
                                            <input type="time" required>
                                        </div>
                                        <div class="col">
                                            <label for="">จำนวนผู้โดยสาร</label>
                                            <!-- min =0 -->
                                            <input type="number" required id="passenger" name="passenger-count" min="0">
                                            <span> คน</span>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <label for="">ประกอบด้วย</label>
                                            <span class="form-text"
                                                style="font-size: 1rem; color:red; display: inline;">
                                                ***(โปรดระบุชื่อ-นามสกุลของผู้บริการให้ครบถ้วน)***
                                            </span>
                                            <textarea class="form-control" rows="5" id="comment" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <form onsubmit="displayAlert(); return false;">
                                        <!-- form fields here -->
                                        <button type="submit" class="btn btn-primary btn-lg" id="txt">ยืนยัน</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var mobileInput = document.querySelector('input[name="mobile_number"]');

                mobileInput.addEventListener("input", function (event) {
                    var inputValue = event.target.value;
                    // ตรวจสอบว่ามีเฉพาะตัวเลขหรือไม่
                    if (/[^0-9]/.test(inputValue)) {
                        event.target.value = inputValue.replace(/[^0-9]/g, '');
                    }
                    // ตรวจสอบจำนวนตัวเลข
                    if (inputValue.length !== 10) {
                        event.target.setCustomValidity("โปรดกรอกเบอร์โทรศัพท์ให้ครบ 10 ตัวเลข");
                    } else {
                        event.target.setCustomValidity("");
                    }
                });

                var txt = document.querySelector("#txt");
                form.displayAlert("submit", function (event) {
                    if (mobileInput.validity.valid) {
                        displayAlert();
                    } else {
                        event.preventDefault();
                    }
                });
            });
            function displayAlert() {
                // Check if the form is valid
                if (!document.querySelector("#booking-body form").reportValidity()) {
                    return;
                }

                // If the form is valid, show the alert
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: 'คุณแน่ใจหรือไม่?',
                    text: 'คุณต้องการยืนยันที่จะส่ง!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Submit the form
                        document.querySelector("#booking-body form").submit();
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                            title: 'ยกเลิก',
                            text: 'คุณได้ทำการยกเลิก)',
                            icon: 'error'
                        });
                    }
                });
            }
            // Add an event listener to the form's submit event
            document.querySelector("#booking-body form").addEventListener("submit", function (event) {
                // Prevent the form from submitting normally
                event.preventDefault();
                // Call the displayAlert function
                displayAlert();
            });

        </script>
        <script>
            const today = new Date();
            const minDate = today.getHours() >= 17 ? new Date(today.getFullYear(), today.getMonth(), today.getDate() + 2) : new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1);

            flatpickr("#datetimepicker", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
            });
        </script>
        <script>
            flatpickr("#seven", {
                enableTime: false,
                dateFormat: "Y-m-dTH:i",
            });
        </script>
        <script>
            function goToPreviousStep() {
                const activeStep = document.querySelector('.stepper-item.active');
                const prevStep = activeStep.previousElementSibling;
    
                if (prevStep) {
                    activeStep.classList.remove('active');
                    prevStep.classList.add('active');
                    prevStep.classList.remove('completed');
                    document.getElementById('nextButton').disabled = false;
                }
            }
    
            function goToNextStep() {
                const activeStep = document.querySelector('.stepper-item.active');
                const nextStep = activeStep.nextElementSibling;
    
                if (nextStep) {
                    activeStep.classList.remove('active');
                    activeStep.classList.add('completed');
                    nextStep.classList.add('active');
                    document.getElementById('prevButton').disabled = false;
                }
            }
        </script>
        <script src="../JS/navbar.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>