<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมาชิก</title>
    <link rel="icon" href="../image/Mae-Fah-Luang-University-2.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/Css/member.css">
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <style>
        .input-container {
            position: relative;
            width: 100%;
        }

        .form-control {
            padding-right: 30px;
            /* Add space for the icon */
        }

        .search-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            /* Allows clicks to pass through */
        }

        .clear-icon {
            cursor: pointer;
            position: absolute;
            right: 30px;
            /* Adjust the position based on the search icon */
            top: 50%;
            transform: translateY(-50%);
        }

        .btn {
            margin-left: 10px;
            /* Optional: Adds space between the input and the button */
        }

        .colored-toast.swal2-icon-success {
            background-color: #a5dc86 !important;
        }

        @media (max-width: 768px) {
            .breadcrumb-nav {
                display: none !important;
            }
        }

        .error-message {
            color: red;
            font-size: 0.9em;
        }

        .error {
            color: red;
            font-size: 0.9em;
        }

        .toggle-btn {
            margin-left: 91%;
            margin-top: -9%;
        }
    </style>
</head>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3" id="main">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" style="color: white"></i>
                        </button>
                        <nav class="breadcrumb-nav" style="--bs-breadcrumb-divider: '>'; margin-left: 3%;"
                            aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">สมาชิก</li>
                            </ol>
                        </nav>
                        <%- include('components/userinfo.ejs') -%>
                    </div>
                    <div class="card" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div class="card-body">
                            <div class="row mt-2 ">
                                <div class="col-md">
                                    <label>เมนู :</label>
                                    <button
                                        style=" border-color: #FFECB3; background-color:#FFECB3; color: black; width: 100px; "
                                        type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#AddVehicle">
                                        <i class="fi fi-rr-edit" style="margin-right: 6px;"></i>เพิ่ม
                                    </button>
                                    <div class="modal fade" id="AddVehicle" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">เพิ่มสมาชิก</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="modal-body">
                                                    <form id="addMemberForm" action="/user" method="POST">
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label" for="role">ประเภท</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <select name="role" id="role" class="form-select"
                                                                    required>
                                                                    <option value=""></option>
                                                                    <option value="approver">ผู้อนุมัติ</option>
                                                                    <option value="admin">ผู้จัดรถ</option>
                                                                    <option value="user">พนักงาน</option>
                                                                    <option value="driver">พนักงานขับรถ</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label"
                                                                    for="numberID">รหัสพนักงาน</label>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="number" id="numberID" class="form-control"
                                                                    name="numberID" required>
                                                                <input type="hidden" id="username" name="username">
                                                                <div id="numberError" class="error-message"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label" for="firstname">ชื่อ</label>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" id="firstname" class="form-control"
                                                                    name="firstname" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label" for="lastname">นามสกุล</label>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" id="lastname" class="form-control"
                                                                    name="lastname" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label"
                                                                    for="organization">หน่วยงาน</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <select name="organization" id="organization"
                                                                    class="form-select" required>
                                                                    <option value=""></option>
                                                                    <option
                                                                        value="สำนักงานเลขานุการศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง">
                                                                        สำนักงานเลขานุการศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง
                                                                    </option>
                                                                    <option
                                                                        value="โรงพยาบาลศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง">
                                                                        โรงพยาบาลศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง
                                                                    </option>
                                                                    <option
                                                                        value="โรงพยาบาลมหาวิทยาลัยแม่ฟ้าหลวง เชียงราย">
                                                                        โรงพยาบาลมหาวิทยาลัยแม่ฟ้าหลวง เชียงราย
                                                                    </option>
                                                                    <option
                                                                        value="ศูนย์บริการสุขภาพแบบครบวงจรแห่งภาคเหนือ และอนุภูมิภาคลุ่มแม่น้ำโขง">
                                                                        ศูนย์บริการสุขภาพแบบครบวงจรแห่งภาคเหนือ
                                                                        และอนุภูมิภาคลุ่มแม่น้ำโขง</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label" for="birthDate">วัน/เดือน/ปี
                                                                    เกิด</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input name="birth_year" id="birthDate" type="date"
                                                                    class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label"
                                                                    for="password">เบอร์โทร</label>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="number" id="mobilenumber"
                                                                    class="form-control" name="mobile_number" required>

                                                                <div id="mobileError" class="error-message mt-1"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <label class="form-label"
                                                                    for="password">รหัสผ่าน</label>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="password" id="password"
                                                                    class="form-control" name="password" required>
                                                                <div class="toggle-btn" onclick="togglePassword()">
                                                                    <i id="toggleIcon"
                                                                        class="fa-regular fa-eye-slash"></i>
                                                                </div>
                                                                <div id="passwordError" class="error-message mt-2">
                                                                </div>
                                                            </div>

                                                        </div>


                                                        <div class="row gy-2 text-end">
                                                            <div class="col-md">
                                                                <button type="submit" class="btn btn-primary"
                                                                    id="AddBtn">ยืนยัน</button>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% if (error_msg && error_msg.length>0) { %>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', (event) => {
                                            displayError();
                                        });
                                    </script>
                                    <% } %>
                                        <div class="col-md-3 search">
                                            <div class="row">
                                                <div class="input-container">
                                                    <input class="form-control" type="text" id="searchInput"
                                                        placeholder="&#xf002;" name="search">
                                                    <i class="fas fa-times clear-icon" onclick="handleClear()"></i>
                                                </div>

                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/table_member') %>
        </div>
        <script>

            function togglePassword() {
                const passwordInput = document.getElementById('password');
                const toggleIcon = document.getElementById('toggleIcon');
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    toggleIcon.classList.remove('fa-eye-slash');
                    toggleIcon.classList.add('fa-eye');
                } else {
                    passwordInput.type = 'password';
                    toggleIcon.classList.remove('fa-eye');
                    toggleIcon.classList.add('fa-eye-slash');
                }
            }
        </script>
        <script>
            document.getElementById('AddVehicle').addEventListener('hidden.bs.modal', function () {
                // Reset the form
                document.getElementById('addMemberForm').reset();
            });
            document.getElementById('addMemberForm').addEventListener('submit', async function (event) {
                event.preventDefault();

                // Get form values
                var password = document.getElementById('password').value;
                var mobileNumber = document.getElementById('mobilenumber').value;
                var numberID = document.getElementById('numberID').value;

                // Initialize error messages
                var passwordError = '';
                var mobileError = '';
                var numberError = '';

                // Validate password
                if (!/^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,8}$/.test(password)) {
                    passwordError = 'ต้องมีตัวอักษรขนาดใหญ่และตัวเลข 6-8 ตัว';
                }


                // Validate mobile number
                if (!/^\d{10}$/.test(mobileNumber)) {
                    mobileError = 'โปรดใส่เบอร์โทรให้ครบ 10 ตัว';
                }

                if (!/^\d{8}$/.test(numberID)) {
                    numberError = 'โปรดใส่รหัสให้ครบ 8 ตัว';
                }

                // Display error messages
                document.getElementById('passwordError').textContent = passwordError;
                document.getElementById('mobileError').textContent = mobileError;
                document.getElementById('numberError').textContent = numberError;

                // If no errors, proceed with SweetAlert confirmation
                if (passwordError === '' && mobileError === '' && numberError === '') {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    });

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        iconColor: 'white',
                        customClass: {
                            popup: 'colored-toast',
                        },
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                    });

                    const result = await swalWithBootstrapButtons.fire({
                        title: 'คุณแน่ใจหรือไม่?',
                        text: 'คุณต้องการยืนยันที่จะบันทึก!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'ยืนยัน',
                        cancelButtonText: 'ยกเลิก',
                        reverseButtons: true
                    });

                    if (result.isConfirmed) {
                        // Submit the form
                        await Swal.fire({
                            icon: 'success',
                            title: 'เพิ่มสมาชิกสำเร็จ',
                            showConfirmButton: false,
                            timer: 1000
                        });
                        this.submit();


                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire({
                            title: 'ยกเลิก',
                            text: 'คุณได้ทำการยกเลิก',
                            icon: 'error'
                        });
                    }
                }
            });

        </script>
        <script src="../JS/navbar.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>