@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffecb3;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidenav img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

#brand {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.text {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-left: 10px;
  text-align: start;
  display: block;
  transition: 0.3s;
}

.subtext {
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 0;
}

#nav {
  border-radius: 20px;
  margin: 0px 15px 0 15px;
  width: 220px;
  height: 300px;
  background-color: #fef8e5;
}

.btn,
.dropdown-menu {
  display: inline-block;
  width: 220px;
  margin: auto;
  padding: 0;
}

.toggler {
  border: none;
  width: 60px;
  height: 60px;
  background-color: #3d5afe;
  border-radius: 50%;
}
