@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffecb3;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidenav img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

#brand {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.text {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding-left: 10px;
  text-align: start;
  display: block;
  transition: 0.3s;
}

.subtext {
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 20px;
}

#nav {
  border-radius: 20px;
  margin: 0px 15px 0 15px;
  width: 220px;
  height: 300px;
  background-color: #fef8e5;
}

.btn,
.dropdown-menu {
  display: inline-block;
  width: 220px;
  margin: auto;
  padding: 0;
}

.toggler {
  border: none;
  width: 60px;
  height: 60px;
  background-color: #3d5afe;
  border-radius: 50%;
}
#clock {
  max-width: 600px;
  margin-left: 43%;
}

/* for smaller screens below 700px /
@media only screen and (max-width: 700px) {
  body {
    font-size: 1.8rem;
  }
}

/for smaller screens below 300px*/
@media only screen and (max-width: 300px) {
  body {
    font-size: 1.6rem;
  }
}
.container .card {
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
}

#dropdownMenuButton:hover,
.dropdown-menu :hover {
  border-radius: 20px;
  background-color: #fff2cb;
}
.card-title {
  font-weight: 400;
}
.card button {
  font-weight: 400;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}
.card .sample {
  background: #ffd600;
}
.card .manual {
  background: #14a2b8;
}
.card i {
  color: white;
  text-align: center;
}
#booking-body input::placeholder {
  padding-left: 5px;
}

@media (max-width: 768px) {
  #main {
    margin-left: 0;
  }

  #card-header div {
    margin-top: 10px;
  }

  #booking-body .row div {
    margin-top: 5px;
  }
}
.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .stepper-item.inactive {
    font-weight: normal;
  }

  .stepper-item.inactive .step-counter {
    background-color: transparent;
  }

  .stepper-item.inactive::after {
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item.inactive::before {
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}
.stepper-item.active:first-child.custom-line::after {
  border-bottom: 2px solid #4c67ff;
  left: 50%;
  z-index: 3;
}

.stepper-item.active:first-child.custom-line::before {
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}
/* Added style for first step */
.stepper-item:first-child .step-counter {
  background-color: transparent;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.active .step-counter {
  background-color: #4c67ff;
}

.stepper-item.completed .step-counter {
  background-color: #4c67ff;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4c67ff;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.button-wrapper {
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}
