 /* Add Bootstrap classes to the calendar headers */
 .fc-header-title h2 {
    color: white !important;
    background-color: #007bff !important;
    padding: 0.25rem 1.5rem !important;
    border-radius: 1rem !important;
    margin: 0 !important;
    white-space: nowrap !important;
  }

  /* Add Bootstrap classes to the calendar cells */
  .fc-content-skeleton {
    background-color: #f8f9fa !important;
    color: #6c757d !important;
    padding: 0.25rem 1.5rem !important;
    border-radius: 1rem !important;
    margin: 0 !important;
    white-space: nowrap !important;
  }

  .fc-daygrid-event.fc-h-event.fc-event.fc-start.fc-end {
    background-color: red !important;
    border-color: red !important;
  }
